<html>
<head>
<title>Chat Room</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript">
$(document).ready(function() {
	// create a new namespace for private chat
	var private_socket = io('http://127.0.0.1:5000/private')
	
	$('#send_username').on('click', function() {
		private_socket.emit('username', $('#username').val());
	});

	$('#send_private_message').on('click', function() {
		var recipient = $('#send_to_username').val();
		var message_to_send = $('#private_message').val();
		private_socket.emit('private_message',{'username': recipient, 'message': message_to_send});
	});

	private_socket.on('new_private_message', function(data_received) {
		alert(`${data_received.message} at ${data_received.time_stamp}`);
	});
});
</script>
<br>
<br>
<input type="text" id="username">
<button id="send_username">First send Your Username To the Server to register yourself</button>
<br>
<br>
Send to: <input type="text" id="send_to_username">
Message: <input type="text" id="private_message">
<button id="send_private_message">Send</button>
</body>
</html>